<div class="panel-heading <%= conv_heading_class(@contact) %>">
  <span class="contact-name-notif"><%= @recipient.name %></span>  
</div> <!-- conversation-heading -->

<!-- Close conversation button -->
<%= link_to "X", 
            close_private_conversation_path(conversation), 
            class: 'close-conversation', 
            title: 'Close', 
            remote: true, 
            method: :post %>

<%= render add_to_contacts_partial_path(@contact) %>
<%= render create_group_conv_partial_path(@contact), 
					 conversation: conversation %>