<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Collabfield</title>
    <%= Gon::Base.render_data %>
    <%= csrf_meta_tags %>
    <% if !Rails.env.test? %>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <% end %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= render 'layouts/navigation' %>
    <%= yield %>
    <%= render 'layouts/application/private_conversations_windows' %>
    <%= render 'layouts/application/group_conversations_windows' %>
  </body>
</html>
